<header class="w3-container" style="padding-top:22px">
    <h5>1 Euro corrisponde a:</h5>
</header>
<div id="exchange-container" class="w3-row-padding w3-margin-bottom" onload="getExchangeValues()">
    <div class="w3-third">
        <div class="w3-container w3-red w3-padding-16">
            <div class="w3-left"><i class="fas fa-dollar-sign fa-3x"></i></div>
            <div id="home-usd" class="w3-right"></div>
            <h4 class="w3-right">Dollari americani</h4>
        </div>
    </div>
    <div class="w3-third">
        <div class="w3-container w3-blue w3-padding-16">
            <div class="w3-left"><i class="fas fa-pound-sign fa-3x"></i></div>
            <div id="home-gbp" class="w3-right"></div>
            <h4 class="w3-right">Sterline britanniche</h4>
        </div>
    </div>
    <div class="w3-third">
        <div class="w3-container w3-teal w3-padding-16">
            <div class="w3-left"><i class="fas fa-cross fa-3xA"></i></div>
            <div id="home-chf" class="w3-right"></div>
            <h4 class="w3-right">Franchi svizzeri</h4>
        </div>
    </div>
</div>
